<%- layout('layouts/boilerplate') %>
<div class="p-4">
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"><%= message %></h4>
   <h2><%= status %></h2>
  <hr>
  <p><%= stack %></p>
</div>
</div>